@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* 纵向滚动条 */
::-webkit-scrollbar {
  width: 10px; /* 滚动条宽度 */
}

/* 滚动条轨道（背景部分） */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道颜色 */
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #888; /* 滑块颜色 */
  border-radius: 10px;
}

/* 悬停时的颜色 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: auto;
}

body {
  font-family: "Arial", sans-serif;
  background-repeat: no-repeat; /* 背景图不重复 */
  background-size: cover; /* 背景图覆盖整个元素 */
  background-position: center;
  background-attachment: fixed; /* 背景图固定 */
}

.tag {
  display: block;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.1s ease-out;
}

.gradient-bg {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.layout-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1;
  color: #4e5358;
  padding: 20px;
  transition: all 300ms;
  cursor: pointer;
}

.button-style {
  position: fixed;
  right: 2%;
  background: #c8c8c866;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}

.eyeicon-style {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #9ca3af;
  pointer-events: none;
}

.flex-normal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  width: 14px;
  height: 14px;
  background-color: orange;
  border: 2px solid orange;
  transition: all 0.78s;
  border-radius: 50%;
}

@media screen and (max-width: 1150px) {
  .right-card {
    display: none;
  }
  .carousel {
    width: 100%;
  }
  .article {
    width: 100%;
    min-width: 300px;
  }
  .community-content {
    display: flex;
    width: 850px;
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1150px) {
  .about-content {
    display: flex;
    width: 1150px;
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;
  }

  .community-content {
    display: flex;
    width: 1150px;
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;
  }

  .article {
    width: 840px;
  }
  .carousel {
    width: 1150px;
  }
  .about {
    width: 1150px;
  }
  .card {
    width: 840px;
  }
}

@media screen and (max-width: 1130px) {
  .about {
    width: 100%;
  }
  .about-content {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 840px) {
  .about {
    width: 100%;
  }
  .community-content {
    display: flex;
    width: 740px;
    margin: auto;
  }
  .left {
    display: none;
  }
}

@media screen and (max-width: 1110px) {
  .navmedia {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .usermedia {
    display: none;
  }
  .community-content {
    display: flex;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .minmedia {
    display: none;
  }
}
